<h1>Login</h1>
{{#if messages}}
    <p class="alert alert-danger">Invalid Login</p>        
{{else}}
    <p class="alert alert-secondary">Please enter your credentials</p>   
{{/if}}
<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-secondary offset-2">Login</button> 
        <a href="/auth/google">
            <img src="/images/google.png" alt="Sign in with Google" />
        </a>
        <hr />
        Need an account? <a href="/auth/register" title="Register">Register</a>
    </fieldset>
</form>