<h1>Login</h1>
<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-secondary offset-2">Login</button>
        <hr />
        Need an account? <a href="/auth/register" title="Register">Register</a>
    </fieldset>
</form>